#body_tag {

	font-family: sans-serif;
	background-image: url(../pics/backgd.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}

.container {

	width: 1000px;
	height: 400px;
	margin-top: 10%;
	margin-bottom: 5%;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 17px #333;

}

.header {
	text-align: center;
	padding-top: 5px;
}

.header h1 {
	color: #333;
	font-size: 45px;
	margin-bottom: 40px;
}

.main {
	text-align: center;
	margin: auto;
	width: 600px;
}

.main input {
	width: 600px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
	/* background-color: rgba(255, 211, 177, 0.658); */
}


.lgn-buttons {
	display: flex;
	flex-direction: row;
	gap: 45px;
}



/* login button style */
.lgn-btn {
	margin-left: 17px;
	margin-top: 40px;
	width: 260px;
	height: 40px;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 20px;
	background-color: rgb(207, 224, 253, 0.8);
}

/* forget button style */
.fgt-btn {
	margin-top: 40px;
	text-align: center;
	width: 260px;
	height: 40px;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
	background-color: rgb(207, 224, 253, 0.8);

}

@media screen and (max-width: 804px) {
	.space {
		height: 100px;
	}
}